.support {
    width: 250px;
    height: 340px;
    margin-left: 20px;
    background-color: #2b2f42;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Закругленные углы */
    margin-top: 20px;
}

.supportHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.supportInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 14px;
}

.supportInfoFirst {
    display: flex;
    justify-content: space-between;
}

.supportItem {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #968b8b;
    font-size: 12px;
}

.value a,
.value {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.value {
    font-size: 14px;
}

.links {
    margin-bottom: 20px;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linkList li {
    margin-bottom: 10px;
    border-bottom: 1px solid #4a4a4a;
    padding-bottom: 5px;
}

.linkList a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.linkList a:hover {
    text-decoration: underline;
}


