.tableContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.tableWrapper {
    background-color: white;
    border-radius: 14px;
    margin: 20px;
    overflow-x: auto;
    margin-left: 0;
}

.table {
    width: 100%;
    border-collapse: separate; /* Убирает двойные границы между ячейками */
    font-family: Arial, sans-serif;
    border-spacing: 5px;
}

.table th, .table td {
    padding: 12px 15px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста */
    border-bottom: 1px solid #ddd; /* Нижняя граница ячеек */
    background-color: #f0f0f0;
}

.table th {
    background-color: #f4f4f4; /* Цвет фона для заголовков */
    font-weight: bold; /* Жирный текст для заголовков */
}

.table tr:hover {
    background-color: #f1f1f1; /* Цвет фона для строки при наведении */
}

tfoot td {
    font-weight: bold; /* Жирный текст для итогов */
}

.buttonGroup {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.buttonForm {
    width: 150px;
    padding: 15px 15px;
    background-color: #007bff; 
    color: white; 
    font-size: 14px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.buttonExport {
    width: 100px;
    padding: 15px 15px;
    background-color: #007bff; 
    color: white; 
    font-size: 14px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 0;
}

.exportButtonhover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

/* Мобильные устройства (до 480px) */
@media (max-width: 480px) {
    .tableContainer {
        width: 750px;
    }
    .table {
        width: 100%;
    }
}

/* Небольшие планшеты (от 481px до 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .tableContainer {
        width: 750px;
    }
    .table {
        width: 100%;
    }
}

/* Большие планшеты и маленькие десктопы (от 769px до 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .tableContainer {
        width: 750px;
    }
    .table {
        width: 100%;
    }
}

/* Десктопы (от 1025px до 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .tableContainer {
        width: 1050px;
    }
    .table {
        width: 100%;
    }
    
}

/* Очень большие экраны (от 1441px и выше) */
@media (min-width: 1441px) {
    .tableContainer {
        width: 1100px;
    }
    .table {
        width: 100%;
    }
}
@media (min-width: 2560px) {
    .tableContainer {
        width: 2000px;
    }
    .table {
        width: 100%;
    }
}
