.finControl {
width: 300px;
height: 300px;
padding: 20px; /* Отступы внутри блока */
background-color: #2b2f42;
color: #ffffff;
border-radius: 10px; /* Скругленные углы блока */
margin-left: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.finControlHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.finControl p {
margin-top: 5px;
font-size: 18px; /* Размер шрифта заголовка */
font-weight: bold;
margin-bottom: 20px; /* Отступ снизу для заголовка */
}

.navList {
list-style-type: none; /* Убираем маркеры списка */
padding: 0;
margin-top: 5px 10px;
}

.navItem {
    display: flex; /* Устанавливаем flexbox для выравнивания элементов по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    margin-bottom: 10px;
    background-color: rgb(59, 63, 83);
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer;
    padding: 10px 10px; /* Внутренние отступы */
    font-size: 16px;
}

.icon {
    margin-right: 8px; /* Добавляем отступ между иконкой и текстом */
}
.navItem:hover {
text-decoration: underline; /* Подчеркивание при наведении */
}

.finControl button {
width: 20%;
height: 20%;
background-color: #007bff; /* Синий фон кнопки */
color: #ffffff;
padding: 15px 0; /* Внутренние отступы кнопки */
font-size: 16px;  /* Размер текста кнопки */
border: none; 
border-radius: 5px;
display: flex;
justify-content: center;
cursor: pointer;
align-items: center;
transition: background-color 0.3s ease; /* Плавный переход цвета фона при наведении */
}

.finControl button:hover {
background-color: #0056b3; /* Более темный синий при наведении */
}